.App-Home {
    background-color: rgb(49,58,54);
    background-image: url('../../assets/logo.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;
}

.App-home-container {
    /* ensure er remains centered on page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.App-home-text {
   
   font-family:Marker Felt, fantasy ;
    box-shadow: 0 0 70px rgba(228, 184, 146, 0.5); /* Blended chartreuse shadow */
    opacity: 0.7; /* Adjusted opacity for blending */
    color: rgb(242, 242, 248);
    margin-top: 40px;
    background-color: rgba(170, 114, 114, 0.5); /* Adjusted background color for blending */
    border-radius: 20px; /* Adjusted border-radius for smoother edges */
    padding: 20px; /* Add padding for a more spaced appearance */
}
